<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="date=no">
	<meta name="format-detection" content="address=no">
	<meta name="format-detection" content="email=no">
	<meta name="theme-color" content="@@theme-color">

	<link rel="icon" href="./img/favicon/favicon.ico" sizes="any">
	<link rel="icon" href="./img/favicon/favicon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="./img/favicon/favicon_180.png">
	<link rel="manifest" href="./manifest.webmanifest">
	<link href="./css/style.min.css" rel="stylesheet">
	<title>@@title</title>
</head>
