html {
	box-sizing: border-box;
}

*,:after,:before {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;

	background: midnightblue;
}
