:root {
	// Цвета
	--color-white: #ffffff;
	--color-black: #000000;

	// Экраны
	--mobileOnly: 767px;
	--tablet: 768px; //min-width
	--tabletS: 800px; //min-width
	--tabletM: 990px; //min-width
	--tabletOnly: 1023px; //!!max-width
	--desktopS: 1024px; //min-width
	--desktopD: 1280px; //min-width
	--desktopM: 1366px; //min-width
	--desktopL: 1600px; //min-width

	// Шрифты
	--font-family-default: "Arial", system-ui, sans-serif;
}
