//Для разработки
@use 'global/variables';

//Миксины
@use 'mixins/font-face';
@use 'mixins/screens';

//Базовые стили
@use 'base/base-container';
@use 'base/base-figure';
@use 'base/base-list';
@use 'base/base-link';
@use 'base/base-title';
@use 'base/base-par';
@use 'base/base-button';

//Глобальные стили
@use 'global/scaffolding';
@use 'global/fonts';

//БЭМ блоки
@use 'blocks/page-header';
@use 'blocks/page-content';
@use 'blocks/page-footer';
